<div class="row">
  <div id="form-container" class="col-md-12">

    <%= form_tag '/convert', class: 'form-inline' do %>
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= text_field_tag 'dollar_amount', nil, class: 'form-control', placeholder: 'Amount' %>
        </div>
      </div>
      <div class="form-group">
        <%= text_field_tag 'exchange_date', nil, class: 'form-control', placeholder: 'Select a date' %>
      </div>
      <button type="submit" class="btn btn-primary">to Euros</button>
    <% end %>

  </div>
</div>

<div class="row">
  <div id="results-container" class="col-md-12">
    <h1>
      <% if @conversion_data %>
        On <%= @conversion_data[:date].strftime("%d %B %Y") %>, $<%= @conversion_data[:amount] %> was worth
        €<%= @conversion_data[:converted] %>
      <% end %>
    </h1>
  </div>
</div>